*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Container for the content to follow the same alignment */

.container{
    width: 1300px;
    margin: 0 auto;
}


/* Reuseable Classes */

.display-inline li{
    display: inline-block;
}

/* Header Starts Here  */

header{
    background: #D9D9D9;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: #337694;
    padding: 20px 30px;
}

nav ul li a:hover{
    background-color: black;
    color: white;
}
/* Header Emds Here  */

/* Banner Starts Here  */

.banner-wrapper{
    height: 300px;
    background-color: #4AA5CD;
}

.banner{
    position: relative;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.banner h1{
    padding: 100px 0 ;
}

.banner-left-logo{
    position: absolute;
    top: 125px;
    left: -20px;
}


.banner-right-logo{
    position: absolute;
    top: 125px;
    right: 20px;
}
/* Banner Ends Here  */

/* Box Section Starts Here */

.box{
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.box-left{
    width: 40%;
    height: 600px;
    background-color: #FEE369;
    position: relative;
}

.left-top{
    height: 436px;
    width: 338px;
    background-color: #D39ED6;
    position: absolute;
    top: 51px;
    left: -95px;
}

.box-right{
    width: 60%;
    height: 600px;
}

.right-up{
    background-color: #ED8719;
    height: 60%;
    padding: 30px;
}

.right-up input, .right-up select{
    width: 400px;
    height: 50px;
    margin: 10px 0;
    background-color: #F1A448;
    border: 0.5px solid #dbd9d9;
    
   
}

.right-up button{
   padding: 12px 35px;
   background-color: #F1A448;
   border: 0.5px solid #dbd9d9;
   color: white;
   margin-top: 10px;
}
.right-down{
    background-color: #8AE33B;
    height: 36%;
    margin-top: 21px;
}
/* Box Section Ends Here */


/* Footer section starts here */

footer{
    background-color: #337694;
}
.footer{
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.footer li{
    padding: 20px;
}

.footer ul li a{
    padding-right: 20px;
    text-decoration: none;
    color: white;
    border-right: 1px solid #ccc;
}

.footer ul li:last-child a{
    border-right: none  ;
}

/* Footer section Ends here */
