*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper{
    background-color:rgb(217,217,217);
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    color: rgb(75,124,163);
}

nav ul{
    padding-top: 20px;
}

header h1{
    padding-top: 20px ;
    padding-left:60px;

}

header h1:hover{
    color: white;
    cursor: pointer;
}

nav ul li{
    display: inline;
    padding: 20px;
}

nav ul li:hover{
    background-color: black;
    cursor:pointer;
    color: white;
}
.banner-wrapper{
    height: 40vh;
    background-color: rgb(6,163,204);
    color: white;
    text-align: center;
}

.banner{
    position: relative;
}

.banner-larrow{
    position: absolute;
    left: 0;
    top: 50%;
}

.banner-rarrow{
    position: absolute;
    right: 0;
    top: 50%;
}
.banner h1{
    padding-top: 80px;
    font-size: 70px;
}

.box{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 15px 0;
}

.leftbox{
    height: 60vh;
    width: 44vw;
    background-color: rgb(255,228,105);
    position: relative;
}

.left-float{
    height: 45vh;
    width: 18vw;
    background-color: rgb(211,158,214);
    position: absolute;
    top: 30px;
    left: -40px;

}

.rightbox{
    height: 60vh;
    width: 52vw
}

.upper{
    /* height: 35vh; */
    height: 70%;
    background-color: rgb(237,135,25);
    
}
.lower{
    /* height: 24vh; */
    height: 28%;
    background-color: rgb(138,227,59);
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

form input,select{
    width: 320px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(250, 206, 124);
}

.btn{
    margin-left: 20px;
    height: 30px;
    width: 80px;
}

.footer{
    height: 10vh;
    background-color:  rgb(3, 100, 139);
    color: white;
    text-align: center;
}

.footer p{
    padding-top: 20px;
}